:root {
  --gray-0:#777;
  --gray-1:#bbb;
  --gray-2:#ddd;
  --gray-3:#eee;
  --control-bg:rgba(255,255,255,0.30);
  --green:#008026;
  --red:#8c2222;
}
body,html {
  width:100%;
  height:100%;
  /* overflow:hidden; */
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  /* I customized this wicked cool background at SVGBackgrounds.com.  */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23b8b8b8'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23a9a9a9'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg %3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
} 
body.preview-body {
  overflow:auto;
  position: relative;
}
svg { 
  z-index: 0;
  top:0;
  left:0;
}
svg,.controls {
  position: absolute;
}
.controls {
  position:absolute;
  left:50%;
  top:0;
  transform: translateX(-50%);
}
fieldset {
  display: flex;
  justify-content: center;
}
.bottom-controls,.control-row {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3px;
}
.bottom-controls {
  position: fixed;
  bottom:0;
  left:0;
  padding-bottom: 3px;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.controls, .bottom-controls {
  background-color: var(--control-bg);
}
.content {
  width:100%;
  height:100%;
  text-align:center;
}
.selected {
  fill:red;
  fill-opacity: 0.5;
}
.related {
  fill: var(--gray-1);
  fill-opacity: 0.5;
}
.controls img,.bottom-controls img {
  height:1.5em;
  width:1.5em;
}
button, #loadLabel {
  line-height: 1.5em;
  border-radius: 0.2em;
  border: 1px solid var(--gray-0);
  background-color: var(--gray-3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  padding:3px;
  margin: 2px;
}
label,legend {
  white-space: nowrap;
}
label {
  margin-left:5px;
}
input[type="number"] {
  max-width:4em;
  padding:0;
}
.selected-mode {
  background-color: var(--gray-1);
}
.hidden {
  display:none;
}
#previewSVG {
  margin:5%;
}
.symbol {
  line-height: 1em;
  font-size: 1.5em;
}
.selected-panel {
  stroke:var(--red);
}
.has-image {
  fill:none;
}
#helpMode {
  position: absolute;
  top:5px;
  right:5px;
  font-size: 0.7em;
  z-index:200;
}
#spjs-text span {
  font-weight:bold;
  text-decoration: underline;
}
#spjs-text #spjs-textContent {
  font-weight: normal;
  text-decoration: none;
}
.upload {
  width:0;
}
.keyword {
  font-weight: bold;
}